<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Парсинг ВК</title>
</head>
<body>
    <form action="" method=post enctype=multipart/form-data>
        <p> 
          <label for="file-input">Выбрать файл</label>
          <input id="file-input" type="file" name="file">
          <input type=submit value=Загрузить>
        </p>
          </form>
          <h4>{{data}}</h4>
          <table>
            <tr>
              {% for i in c %}
              <th>
                {{i}}
              </th>
              {% endfor %}
            </tr>
            <tr>
              {% for j in c2 %}
              <td>
                {{j}}
              </td>
              {% endfor %}
            </tr>
          </table>
</body>
</html>